# --- Python Core ---
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
build/
dist/
*.egg-info/

# Virtual environments
.venv

# --- Environment & Secrets ---
.env
.flaskenv
# Protect any local secret files
instance/config.py

# --- Database & Storage ---
app/instance/*
# SQLite temporary/journal files
*.db-journal
*.db-shm
*.db-wal

# --- Uploads & Static Assets ---
app/static/uploads/*

# --- OS Specific ---
.DS_Store
Thumbs.db

# --- IDE Specific (VS Code / PyCharm) ---
.vscode/
.idea/
*.swp
*.swo

# --- Logs ---
*.log