<select id="po-select"
        hx-swap-oob="true"
        name="po_id" 
        class="mt-1 block w-full border rounded-lg p-2 text-sm focus:ring-1 focus:ring-blue-300 outline-none appearance-none bg-transparent cursor-pointer pr-10" 
        required>
    <option value="">Select PO swap...</option>
    {% for po in pos %}
    <option value="{{ po }}">{{ po }}</option>
    {% endfor %}
</select>

<table>
    <tbody id="id-container" hx-swap-oob="true" class="bg-white divide-y divide-gray-200">
        <tr>
            <td class="px-6 py-4 whitespace-nowrap">Arya</td>
            <td class="px-6 py-4 whitespace-nowrap">{{ id }}</td>
        </tr>
        <tr>
            <td class="px-6 py-4 whitespace-nowrap">Sansa</td>
            <td class="px-6 py-4 whitespace-nowrap">002</td>
        </tr>
    </tbody>
</table>


