# .env
SECRET_KEY=generate-a-long-random-string-here
INITIAL_ADMIN_USERNAME=admin
INITIAL_ADMIN_PASSWORD=password
INITIAL_ADMIN_EMAIL=admin@example.com
DATABASE_URL=postgresql+psycopg://admin:password@localhost:5432/codexmetry