<div class="relative" id="invoice-select-container">

    <select name="invoice_id" 
            {% if not po_id and not payment %}
            disabled
            {% endif %}
            class="mt-1 block w-full border rounded-lg p-2 text-sm focus:ring-1 focus:ring-blue-300 outline-none appearance-none pr-10
            {% if not po_id and not payment %} bg-gray-100 text-gray-400 cursor-not-allowed
            {% else %} bg-transparent cursor-pointer
            {% endif %}"
            hx-get="{{ url_for('payments.update_invoice_cascades', payment_id=payment.id if payment else '') }}"
            hx-swap="none"
            hx-trigger="change"
            hx-include="[name='po_id']">
        
        {# DYNAMIC PLACEHOLDER #}
        <option value="">
            {% if not po_id and not payment %}Select PO first...
            {% else %}No Invoice Link (Prepayment)
            {% endif %}
        </option>
        
        {% for invoice in invoices %}
            <option value="{{ invoice.id }}"
                           {% if payment and invoice.id == payment.invoice_id %}
                           selected
                           {% elif not payment and invoice.id == invoice_id %}
                           selected
                           {% endif %}>
                {{ invoice.invoice_number }} ({{ invoice.total_amount | usd }})
            </option>
        {% endfor %}
    </select>
    
    <div class="absolute inset-y-0 right-0 flex items-center px-3 pointer-events-none text-gray-400">
        <i class="fa-solid fa-chevron-down text-[10px]"></i>
    </div>
</div>