<div id="bill-to-select-container" hx-swap-oob="true">
    {% include 'invoices/partials/bill_to_select.html' %}
</div>

<input type="hidden" id="po_total_prepayment" name="po_total_prepayment" 
       value="{{ po.total_prepayment if po else 0 }}" hx-swap-oob="true">

<table class="hidden">
    <tbody id="item-list" hx-swap-oob="true">
        {% for item in items %}
            {% set row_id = item.row_id %}
            {% include 'invoices/partials/item_row.html' %}
        {% endfor %}
    </tbody>
</table>